#intro {
    background: url(./assets/matrix-2354492_1280\ copy.png);
    color: white;
}



#resume {
    background: linear-gradient(300deg, #2551e3, #633168, #c72914);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .resumeText {
    color: rgb(223, 222, 222);
  }

  #bronzeSelf {
    border-radius: 50%;
  }

  #aboutme {
    background-color: rgb(223, 222, 222);
  }
  